/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .slider-content h1 {
        font-size: 55px;
    }

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .single-slider {
        padding-top: 100px;
    }

    .slider-content h1 {
        font-size: 40px;
    }

    .slider-content p {
        margin-bottom: 35px;
    }

}


/* small mobile :320px. */
@media (max-width: 767px) {

    .logo {
        padding: 15px 0;
    }

    .single-slider {
        padding-top: 100px;
    }

    .slider-content h1 {
        font-size: 40px;
    }

    .slider-content p {
        margin-bottom: 35px;
    }

    .blog p {
        margin-bottom: 30px;
    }

    .single-service {
        border: 1px solid #fff;
        padding: 30px;
    }

    .single-product img {
        margin-bottom: 20px;
    }

    .single-location {
        margin-bottom: 30px;
    }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px
    }

    .logo {
        padding: 15px 0;
    }

    .single-slider {
        padding-top: 60px;
    }

}